.AndroidStudio*/
.IntelliJIdea*/
.PyCharm2017.*/
.Upwork/
.Xauthority
.android/
.ansible-vault-password
.ansible/
.ansible_galaxy
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/Android Open Source Project/
.config/Insomnia/
.config/QtProject.conf
.config/ReText project/
.config/Trolltech.conf
.config/VirtualBox/
.config/autostart/
.config/calibre/
.config/cef_user_data/
.config/chromium/
.config/configstore/
.config/dconf/
.config/eog/
.config/gconf/
.config/geany/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/inkscape/
.config/kazam/
.config/libreoffice/
.config/menus/
.config/nomacs/
.config/qBittorrent/
.config/ranger/
.config/systemd/
.config/trizen/
.config/vlc/
.config/yagf/
.crashlytics/
.emulator_console_auth_token
.gimp-2.8/
.gnome2/
.gnupg/
.gradle/
.gtk-recordmydesktop
.gtkrc-2.0
.gksu.lock
.history
.icons/
.ideaLibSources/
.ideavimrc
.ipython/
.java/
.kivy/
.lesshst
.local/
.m2/
.mozilla/
.mysql/
.mysql_history
.ngrok2/
.node-gyp/
.npm/
.pki/
.python_history
.rnd
.scripts/
.sqlite_history
.ssh/
.ssr/
.texlive/
.thumbnails/
.v8flags.*.json
.vim/
.viminfo
.viminfo.tmp
.viminfz.tmp
.virtualenvs/
.wget-hsts
.wine-corel-x3/
.xournal/
.xsession-errors
.yamjam/
.zcompdump
*_scrot.png
Android/
ApkProjects/
Calibre Library/
Downloads/
PycharmProjects/
pics/
projects/
test/
