.AndroidStudio*/
.IntelliJIdea*/
.PyCharm2017.*/
.Upwork/
.Xauthority
.android/
.ansible-vault-password
.ansible/
.ansible_galaxy
.bash_history
.bash_logout
.bash_profile
.bashrc
.cache/
.config/*
!.config/albert/albert.conf
!.config/albert/albert.conf
!.config/dunst/dunstrc
!.config/i3
!.config/mimeapps.list
.crashlytics/
.emulator_console_auth_token
.gimp-2.8/
.gnome2/
.gnupg/
.gradle/
.gtk-recordmydesktop
.gtkrc-2.0
.gksu.lock
.history
.icons/
.ideaLibSources/
.ideavimrc
.ipython/
.java/
.kivy/
.lesshst
.local/
.m2/
.mozilla/
.mysql/
.mysql_history
.ngrok2/
.node-gyp/
.npm/
.pki/
.python_history
.putty
.rnd
.scripts/
.sqlite_history
.ssh/
.ssr/
.texlive/
.thumbnails/
.v8flags.*.json
.vim/
.viminfo
.viminfo.tmp
.viminfz.tmp
.virtualenvs/
.wget-hsts
.wine-corel-x3/
.xournal/
.xsession-errors
.yamjam/
.zcompdump
.nv/
.gnome/
*_scrot.png
android-sdk/
Android/
ApkProjects/
Calibre Library/
Downloads/
PycharmProjects/
pics/
projects/
test/
VirtualBox VMs/
.PyCharm*/
.acetoneiso/
.docker/
.gem/
.idea/
.mplayer/
vmware/
node_modules/
Audio/
.psql_history
.terminfo/
.vmware/
.zoom/
*.hprof
.xsession-errors.old
.stride/
.node_repl
.esd_auth
.dmrc
.cargo/
.audacity-data/
.aws/
.cups/
.fehbg
.gtklp/
.hplip/
.sane/

